.build-tile {
  display: flex;
  flex-basis: 24%;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;
  position: relative;
  height: auto;
  box-sizing: border-box;
  padding: 0 20px;
  text-align: center;
  background: rgba(255, 255, 255, 0.4);
  margin: 0.1% 0.1%;
  border-radius: 3px;
  overflow: hidden;
  color: #2992b6;
  text-decoration: none;
  font-size: 16px;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    transition: background-color 0.2s ease-in;
  }

  &.blue {
    background: rgba(0,102,0, 0.4);
  }

  &.red {
    background: rgba(191,97,106, 0.4);
  }

  &.blue_anime::after,
  &.blue::after {
    background: rgba(0,102,0, 0.8);
  }

  &.red::after,
  &.red_anime::after {
    background: rgba(191,97,106, 0.8);
  }

  &.blue_anime,
  &.red_anime {
    animation-name: flash-background;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

  .job-duration,
  .job-esimated,
  .job-finished {
    text-align: left;
  }

  .job-result {
    margin-top: 12px;
    padding: 12px;
    font-weight: bold;
  }

  .job-texts {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .job-name, .job-icon {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
  }

  .job-icon {
    flex-shrink: 1;
  }

  .job-name {
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    text-overflow: ellipsis;
  }
}

@keyframes flash-background {
  0% {
    background: rgba(191,97,106, 0.4);
  }
  50% {
    background: rgba(0,102,0, 0.4);
  }
  100% {
    background: rgba(191,97,106, 0.4);
  }
}
